/*
  Thank you to the creator of this button!
  http://monc.se/kitchen/59/scalable-css-buttons-using-png-and-background-colors/
*/

.additional-element .button1 { 
	display: block; 
	position: relative; 
	background: #aaa; 
	padding: 5px; 
	float: left; 
	color: #fff; 
	text-decoration: none; 
	cursor: pointer; 
	margin-right:5px;
	outline: none;
	line-height:17px;
}
.additional-element .button1 * {
	font-style: normal; 
	background-image: url(button-bg.png); 
	background-repeat: no-repeat; 
	display: block; 
	position: relative;
}
.additional-element .button1 i {
	background-repeat: no-repeat;
	background-position: top left; position: absolute; margin-bottom: -5px; top: 0; left: 0; width: 5px; height: 5px; }
.additional-element .button1 span {
	background-repeat: no-repeat;
	background-position: bottom left;
	left: -5px; 
	padding: 0 0 5px 10px; 
	margin-bottom: -5px;
}
.additional-element .button1 span i {
	background-repeat: no-repeat;
	background-position: bottom right; 
	margin-bottom: 0; 
	position: absolute; 
	left: 100%; 
	width: 10px; 
	height: 100%; 
	top: 0; 
}
.additional-element .button1 span span {
	background-repeat: no-repeat;
	background-position: top right; 
	position: absolute; 
	right: -10px; 
	margin-left: 10px; 
	top: -5px; 
	height: 0; 
}
.additional-element * html .button1 span, * html .button1 i { 
	float: left; 
	width: auto; 
	background-image: none; 
	cursor: pointer; 
}
.additional-element a.button1{
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}
.additional-element a.button1:hover{
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}
.additional-element a.button1:active{
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}
.additional-element .button1.grey { background: #888; }
.additional-element .button1.blue { background: #2ae; }
.additional-element .button1.green { background: #9d4; }
.additional-element .button1.pink { background: #e1a; }
.additional-element .button1:hover { background-color: #8888BB; }
.additional-element .button1:active { background-color: #aa8; }
.additional-element .button1[class] {
	background-image: url(button-shade.png);
	background-position: bottom;
}

.additional-element .button1.add {
	background-image: url(button-add.png); 
	background-repeat: no-repeat; 
	background-position: left;
}
.additional-element .button1.remove {
	background-image: url(button-remove.png); 
	background-repeat: no-repeat; 
	background-position: left;
}

.waiting{
  display:none;
  width:20px;
  float:left; 
  margin-left:5px; 
  margin-right:5px;
}
.method{
  display:none;
}
.api-key{
  display:none;
}